<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>vue.js</title>
	<style type="text/css">
	.demo-div{
		width: 100px;
		height: 100px;
		background: red;
	}
	</style>
</head>
<body>
	<div id="app">
		<div ref="item">{{index}}</div>
		<button @click="add">添加</button>
		<a>123</a><a>456</a>
		<div class="app">
		  <div ref="msgDiv">{{msg}}</div>
		  <div v-if="msg1">Message got outside $nextTick: {{msg1}}</div>
		  <div v-if="msg2">Message got inside $nextTick: {{msg2}}</div>
		  <div v-if="msg3">Message got outside $nextTick: {{msg3}}</div>
		  <button @click="changeMsg">
		    Change the Message test
		  </button>
		  <div class="demo-div"></div>
		</div>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script type="text/javascript">
		 var vm = new Vue({
	        el: '#app', 
	        data: {
	            name: 'hello',
	            age: '<h>world</h>',
	            index: 1,
                msg: 'Hello Vue.',
			    msg1: '',
			    msg2: '',
			    msg3: '',
			    a: 1,
			    v: 2
	        },
	        created(){
				this.reszeEventHandler = function(){
				}
	        },
	        methods: {
	        	add: function(){
					console.log(this.$refs.item);
					console.log(this);
					console.log(vm.$parent)
	        	},
	        	changeMsg: function(){
				    this.msg = "Hello world."
				    this.msg1 = this.$refs.msgDiv.innerHTML
				    this.$nextTick(() => {
				      this.msg2 = this.$refs.msgDiv.innerHTML
				    })
				    this.msg3 = this.$refs.msgDiv.innerHTML
			    }
			},
			computed: {
			    // 仅读取
			    aDouble: function () {
			      return this.a * 2
			    },
			    // 读取和设置
			    aPlus: {
			      get: function () {
			        return this.a + 1
			      },
			      set: function (v) {
			        this.a = v - 1
			      }
			    }
		 	}
		})
	</script>
</body>
</html>
